* {
    box-sizing: border-box;
}

.app {
    border: 5px solid #9e9e9e;
    border-radius: 5px;
    width: 700px;
    height: 700px;
    padding: 10px;
    margin: 15px auto;
}

.random-word {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    text-transform: uppercase;
}

.random-word li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    margin: 12px;
    font-size: 1.5em;
    border-bottom: 2px solid black;
    height: 30px;
}

